html {
	font-family: 'Lato', sans-serif;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black; 
	border-collapse:collapse;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: positional;
	
}

tbody td{
	border-spacing:5px;
	text-align:center;
}



 thead.catalogo tr{
	height: 50px;
	background: #FFED86;
	font-size: 16px;
	border:1px solid black
}

tbody.catalogo tr {
	background-color:#f0f0f5;
	border: 1px solid black; 
}

tbody.catalogo tr:hover {background-color: #a992d3 ;}



thead.cart tr{
	height: 50px;
	background: #FFED86;
	font-size: 16px;
	border:1px solid black
}

tbody.cart tr{
	background-color:#f0f0f5;
	border: 1px solid black;
	border-spacing:5px;
	text-align:center;
	height: 50px; 
}

tfoot.cart th{
	height: 50px;
}

tbody.cart tr:hover {background-color: #a992d3 ;}



thead.details tr{
	height: 50px;
	background: #FFED86;
	font-size: 16px;
	border:1px solid black
}

tbody.details tr{
	background-color:#f0f0f5;
	border: 1px solid black;
	border-spacing:5px;
	text-align:center;
	height: 50px; 
}

tfoot.details td{
	height: 50px;
	text-align: center;
}

tbody.details tr:hover {background-color: #a992d3 ;}



.btn {
	background-color: #a6a6c4;
 	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

.btn:hover {
	background-color: #a992d3;
}

div.login, div.catalogo, div.register {
	width: 300px;
  	border: 1px solid black;
  	padding: 12px 20px 12px;
 	margin-left: auto;
	margin-right: auto;
	background-color:#f0f0f5;
}

input.login[type=text], input.login[type=password], 
input.catalogo[type=text], input.register[type=text], 
input.register[type=email], input.register[type=password],
input.catalogo[type=date], input.register[type=date],
input.catalogo[type=number], input.register[type=number],
select {
	
  	width: 100%;
  	padding: 12px 20px;
  	margin: 8px;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

textarea.catalogo, textarea.register  select {
  	width: 100%;
  	padding: 12px 20px;
  	margin: 8px;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}




h2, h3 {
	text-align: center;
	clear: both;
}

div.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.error{
	color:red;
}

#checkout
{
position:relative;
    transition: .5s ease;
    top: 50%;
    left: 45%;	
}
