table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black; 
	border-collapse:collapse;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: positional;
	
}
 thead.catalogo tr{
	height: 50px;
	background: #FFED86;
	font-size: 16px;
	border:1px solid black
}

tbody.catalogo tr {
	
	background-color:#f0f0f5;
	border: 1px solid black; 
}
tbody.catalogo tr:hover {background-color: #a992d3 ;}

tbody td{
	
	border-spacing:5px;
	text-align:center;
}

thead.cart tr{
	height: 50px;
	background: #FFED86;
	font-size: 16px;
	border:1px solid black
}

tbody.cart tr{
	background-color:#f0f0f5;
	border: 1px solid black;
	border-spacing:5px;
	text-align:center;
	height: 50px; 
}

tbody.cart tr:hover {background-color: #a992d3 ;}

tfoot.cart th{
	height: 50px;
}


h2 {
	text-align: center;
	clear: both;
}

div.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.error{
	color:red;
}

#checkout
{
position:relative;
    transition: .5s ease;
    top: 50%;
    left: 45%;	
}
